navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color:#133b6a;
    color: white;
    width: 100vw;
}

.navbar_event_conference {
    position: fixed;
    top: 1px;
    z-index: 99;
}

.company_logo {
    font-size: 30px;
    color: #EFC16B;
    font-weight: 700;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 170px;
}

.left_navbar {
    width: 60vw;
    display: flex;
    gap: 180px;
  
}

.nav_links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: all 0.3s ease;
    font-size: 25px;
}
  
.nav_links a:hover {
    color: #ff9900;
}

.details_button {
    padding: 8px 16px;
    background-color: #EFC16B;
    color: black;
    /* border: 1px solid white; */
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* background-color: transparent; */
}

.main_container {
    display: flex;    
}

.items-information {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  
}

.venue_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    margin-left: -180px;
    font-size: 24px;
}

.text h1 {
    width: 900px;
    font-size: 40px;
    background-color: #133b6a;
    color: white;
    width:990px;
    height: 70px;
    margin-left: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.venue_selection,.addons_selection , .meal_selection {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 90vw;
    margin-left: 250px;
}

.venue_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    width: 300px;
}

.venue_main .img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.venue_main .text {
    font-size: 30px;
    color: #333;
}

.quantity-value {
    margin: 0 10px;
}

.button_container{
    /* background-color: red; */
    width:200px ;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-success {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5291D9;
    color: black;
    border: none;
    width: 10px;
    height: 30px;
     border-radius: 5px;
    cursor: pointer;
}

.btn-warning {
    background-color: #52D7D9;
   display: flex;
   align-items: center;
   justify-content: center;
    color: black;
    width: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-disabled {
    opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
    cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
}

.total_cost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin-top: 15px;
    margin-left: 190px;
}